.app-header {
    height: var(--app-header-height);
    min-height: var(--app-header-height);
    display: flex;
    justify-content: center;
    align-items: center;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &__link {
        &--active {
            font-weight: 600;
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
}